@model Content

@{
    if (!string.IsNullOrWhiteSpace(Model.Summary))
    {
        ViewBag.Description = Markdown
            .ToPlainText(Model.Summary);
    }
}

<div class="container">
    <h1>
        Edit content
    </h1>
    <form asp-action="Edit" asp-controller="Content" method="post">
        <div asp-validation-summary="All"></div>
        <div class="edit-split">
            <label asp-for="Name"></label>
            <input asp-for="Name">
        </div>
        <div class="edit-split">
            <label asp-for="Path"></label>
            <input asp-for="Path" required>
        </div>
        <div class="edit-split">
            <label asp-for="IsIndexed">Indexed</label>
            <span><input asp-for="IsIndexed"></span>
        </div>
        <div class="edit-split">
            <label asp-for="PublishedDateTime">Published</label>
            <input asp-for="PublishedDateTime" required>
        </div>
        <div class="edit-stack">
            <label asp-for="Summary"></label>
            <textarea asp-for="Summary" required></textarea>
        </div>
        <div class="edit-stack">
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="large" required></textarea>
        </div>
        <div class="edit-buttons">
            <div class="edit-buttons-left">
                <button type="submit">
                    Save
                </button>
            </div>
            <div class="edit-buttons-right">
                <div>
                    <a
                        asp-action="Detail"
                        asp-controller="Content"
                        asp-route-path="@Model.Path">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>