:root
{
    --color-background: #272822;
    --color-header: #171714;
    --color-primary: #66D9EF;
    --color-secondary: #F92672;
    --color-tertiary: #FD971F;
    --color-text: #EEEEEE;
    --color-text-alt: #FFE792;
    --color-title: #A6E22E;
}

@media only screen and (max-width: 32em)
{
    .container
    {
        width: 90% !important;
    }

    .menu
    {
        max-width: 8em !important;
        flex-wrap: wrap !important;
    }
    .menu li
    {
        flex-basis: 33% !important;
    }
}

@media only screen and (max-width: 42em)
{
    #content
    {
        padding: 0.5em 0 0 0 !important;
    }

    .gallery-image-left, .gallery-image-right
    {
        float: none !important;
    }

    .icon
    {
        height: 1.5em !important;
        width: 1.5em !important;
    }

    .menu li a
    {
        margin-left: 0.625em !important;
    }
}

*
{
    box-sizing: border-box;
}

a, input[type="submit"]
{
    border-color: var(--color-primary);
    color: var(--color-primary);
    text-decoration: none;
}

a:hover, input[type="submit"]:hover
{
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    cursor: pointer;
}

body
{
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}
body, input, select, textarea
{
    font-family: Consolas, monospace;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    margin: 0;
}

html, #footer, #header
{
    background-color: var(--color-header);
}

img
{
    width: 100%;
}

input, select, textarea
{
    background-color: var(--color-background);
    border: 0.0625em solid var(--color-primary);
    color: var(--color-text);
    height: 2em;
    margin: 0;
    padding: 0.375em;
}
input[type="checkbox"]
{
    height: 1.5em;
    margin: 0.25em;
    width: 1.5em;
}
input:focus, select:focus, textarea:focus
{
    border: 0.0625em solid var(--color-secondary);
    outline: none;
}

label
{
    color: var(--color-tertiary);
    line-height: 1.5em;
}

q
{
    color: var(--color-text-alt);
}

time
{
    color: var(--color-tertiary);
}

#content
{
    margin: 4em 0 0 0;
    padding: 1em 0 0 0;
}
#content h1, #content h1 a
{
    color: var(--color-title);
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
#content p
{
    line-height: 1.5em;
}

#footer
{
    margin-top: 1.5em;
    min-height: 3.5em;
}

#header
{
    height: 4em;
    padding: 0.5em 0;
    position: fixed;
    top: 0;
    transform: translateY(0);
    width: 100%;
}
#header, body
{
    min-width: 22em;
}
#header a
{
    color: var(--color-title);
}
#header h1
{
    font-size: 2.5em;
    min-width: 5em;
}
#header .column
{
    align-items: center;
    display: flex;
}
#header .container
{
    display: flex;
    justify-content: space-between;
}

.admin
{
    border: 0.0625em solid var(--color-title);
    padding: 1em;
    margin: 0 auto 1em auto;
}
.admin, .container
{
    max-width: 41em;
    width: 80%;
}
.admin legend
{
    color: var(--color-title);
    font-size: 1.5em;
}
.admin-action:not(:last-child)
{
    margin-bottom: 1em;
}

.content-icon
{
    width: 2em;
}

.content-index
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-index-item:not(:last-child)
{
    margin-bottom: 2em;
}

.container
{
    height: 100%;
    margin: 0 auto;
}

.edit-buttons
{
    display: flex;
    justify-content: space-between;
}
.edit-buttons-right
{
    display: flex;
    justify-content: flex-end;
    line-height: 2em;
}
.edit-buttons-right a
{
    margin-left: 1em;
}

.edit-split
{
    display: flex;
    justify-content: space-between;
}
.edit-split, .edit-stack
{
    margin-bottom: 0.625em;
}
.edit-split *:not([type="checkbox"])
{
    width: 50%;
}
.edit-split span
{
    text-align: center;
}

.edit-stack textarea
{
    height: 4.5em;
    margin-top: 0.25em;
    resize: none;
    width: 100%;
}
.edit-stack textarea.large
{
    height: 32em;
}

.cut
{
    margin: auto;
    width: 50%;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-item
{
    flex: 50%;
}

.hidden
{
    visibility: hidden;
}

.icon
{
    height: 2em;
    width: 2em;
}
.icon-primary-fill
{
    fill: var(--color-primary);
}
.icon:hover .icon-primary-fill
{
    fill: var(--color-secondary);
}
.icon-primary-stroke
{
    stroke: var(--color-primary);
}
.icon:hover .icon-primary-stroke
{
    stroke: var(--color-secondary);
}
.icon-secondary-fill
{
    fill: var(--color-header);
}
.icon-secondary-stroke
{
    stroke: var(--color-header);
}
.icon-tertiary-fill
{
    fill: var(--color-title);
}
.icon-tertiary-stroke
{
    stroke: var(--color-title);
}

.login
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.login a
{
    align-items: center;
    display: inline-flex;
}
.login img
{
    margin-right: 0.625em;
    width: 2em;
}

.menu
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li
{
    text-align: right;
}
.menu li a
{
    display: inline-block;
    margin-left: 1em;
}

.pager
{
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    justify-content: flex-end;
    list-style: none;
    margin: 0.5em 0 0 0;
    width: 100%;
}
.pager li
{
    margin-left: 1em;
}

.validation-summary-errors
{
    color: var(--color-text-alt);
}
.validation-summary-errors ul
{
    list-style: none;
    padding: 0;
}
