@model LoginModel

<div class="container">
    <h1>
        Log in
    </h1>
    <ul class="login">
        <li>
            <a
                asp-action="Challenge"
                asp-controller="Auth"
                asp-route-returnUrl="@Model?.ReturnUrl"
                asp-route-scheme="Google">
                <img src="~/img/auth/google.svg" />
                Google
            </a>
        </li>
    </ul>
</div>