<header id="header">
    <div class="container">
        <div class="column">
                <h1>
                    <a href="/">
                        null-d3v
                    </a>
                </h1>
        </div>
        <div class="column">
            <nav>
                <ol class="menu">
                    <li>
                        <a class="icon" href="/content/about">
                            <svg aria-label="About" role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    class="icon-primary-fill icon-primary-stroke"
                                    d="m232,7c-208,202 -208,202 -208,202c0,0 156,156 156,156c0,0 54,-55 54,-55c0,0 -97,-98 -97,-98c0,0 152,-147 152,-147c0,0 -57,-58 -57,-58z"
                                    stroke-width="5"
                                    stroke="#000000"
                                    fill="none">
                                </path>
                                <path
                                    class="icon-primary-fill icon-primary-stroke"
                                    d="m276,197c0,0 54,-54 54,-54c0,0 155,154 155,154c0,0 -204,205 -204,205c0,0 -57,-55 -57,-55c0,0 149,-148 149,-148c0,0 -97,-102 -97,-102z"
                                    stroke-width="5"
                                    stroke="#000000"
                                    fill="none">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="icon" href="mailto:benjamin.soddy@gmail.com">
                            <svg aria-label="Email" role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <rect class="icon-primary-fill" height="512" width="512"></rect>
                                <rect class="icon-secondary-fill" fill="#FFFFFF" height="256" rx="8%" width="355" x="78.5" y="128"></rect>
                                <path
                                    class="icon-primary-stroke"
                                    d="M434 128L269 292c-7 8-19 8-26 0L78 128m0 256l129-128m227 128L305 256"
                                    fill="none"
                                    stroke="#000000"
                                    stroke-width="20">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="icon" href="https://www.facebook.com/null.d3v">
                            <svg aria-label="Facebook" role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <rect class="icon-primary-fill" fill="#000000" height="512" width="512"></rect>
                                <path
                                    class="icon-secondary-fill"
                                    d="M287 456V157c0-21 6-35 35-35h38V59c-7-1-29-3-55-3-54 0-91 33-91 94v306m143-254H152v72h196"
                                    fill="#FFFFFF">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="icon" href="https://github.com/null-d3v">
                            <svg aria-label="Github" role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <rect class="icon-primary-fill" fill="#000000" height="512" width="512"></rect>
                                <path
                                    class="icon-secondary-fill"
                                    d="M119 255c17 30 49 48 102 53-8 6-17 17-18 30-10 6-29 8-44 3-21-7-29-48-61-42-7 1-6 6 0 10 10 6 21 16 26 30 12 31 37 39 77 33v45c0 14-20 18-20 25 0 3 7 3 12 3 10 0 32-9 32-23 0-12 0-52 1-59 0-15 8-20 8-20s1 82-2 92c-4 13-10 11-10 17 0 9 26 2 35-17 7-15 4-95 3-94h7s0 37 1 53c0 17-1 39 9 50 7 7 29 19 29 8 0-6-12-12-12-29v-79c10 0 8 26 8 26l1 48s-2 18 19 25c8 3 24 3 25-1s-20-11-20-25v-49c0-36-5-49-22-60 53-5 86-18 102-53 10-20 12-44 12-62 0-50-24-67-29-76 7-38-1-55-5-60-14-5-48 12-66 24-30-9-94-8-118 2-44-31-67-26-67-26s-15 27-4 66c-15 18-25 31-26 65 0 27 3 44 15 67z"
                                    fill="#FFFFFF">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="icon" href="https://stackoverflow.com/users/1167387">
                            <svg aria-label="Stack Overflow" role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <rect class="icon-primary-fill" fill="#000000" height="512" stroke="none" width="512"></rect>
                                <path class="icon-secondary-stroke" d="M113 291v151h235V291" fill="none" stroke="#FFFFFF" stroke-width="28"></path>
                                <path
                                    class="icon-secondary-stroke"
                                    d="M306 385H149m159-43l-156-14m165-31l-152-41m233-42L372 59m-11 170l-89-129m60 159l-135-80"
                                    stroke="#FFFFFF"
                                    stroke-width="33">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="icon" href="https://steamcommunity.com/id/null_d3v">
                            <svg aria-label="Steam" role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <rect class="icon-primary-fill" fill="#000000" height="512" width="512"></rect>
                                <path
                                    class="icon-secondary-fill"
                                    d="M266.4 189.5v1.4l-68.8 100c-11.1-.5-22.3 1.4-32.9 5.8-4.7 1.9-9.1 4.2-13.2 7L.4 241.4s-19.6 51.4-5 94.3l122.9 50.2c5.4 24 21.8 45 46.1 55.1 39.7 16.6 85.5-2.3 102-42 4.3-10.4 6.3-21.3 6-32.1l98.5-70.4h2.4c58.8 0 106.7-48 106.7-107s-47.9-107-106.8-107-106.8 48-106.8 107zm-16.5 202.6a60.28 60.28 0 0 1-78.7 32.5 60.39 60.39 0 0 1-31-29.5l34.8 14.4c22.6 9.4 48.5-1.3 57.9-23.9s-1.3-48.6-23.9-58l-35.9-14.9c13.9-5.3 29.6-5.5 44.4.7 14.9 6.2 26.4 17.8 32.5 32.7s6.1 31.3-.1 46.1m123.3-131.3c-39.2 0-71.2-32-71.2-71.3s31.9-71.3 71.2-71.3c39.2 0 71.2 32 71.2 71.3s-31.9 71.3-71.2 71.3m-53.3-71.5c0-29.6 23.9-53.6 53.4-53.6s53.5 24 53.5 53.6-23.9 53.5-53.5 53.5c-29.5 0-53.4-24-53.4-53.5z"
                                    stroke="#000000">
                                </path>
                            </svg>
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</header>