@media only screen and (max-width: 500px)
{
    .container
    {
        width: 90% !important;
    }

    .menu
    {
        max-width: 150px !important;
        flex-wrap: wrap !important;
    }
    .menu li
    {
        flex-basis: 33% !important;
    }
}

@media only screen and (max-width: 725px)
{
    body
    {
        font-size: 14px !important;
    }

    #content
    {
        padding: 5px 0 0 0 !important;
    }
    #content h1, #content h1 a
    {
        font-size: 24px !important;
    }

    #header h1
    {
        font-size: 28px !important;
    }

    .admin legend
    {
        font-size: 20px !important;
    }

    .gallery-image-left, .gallery-image-right
    {
        float: none !important;
    }

    .icon
    {
        width: 24px !important;
    }

    .menu li a
    {
        margin-left: 10px !important;
    }

    .pager
    {
        font-size: 28px !important;
    }
}

*
{
    box-sizing: border-box;
}

a, input[type="submit"]
{
    border-color: #66D9EF;
    color: #66D9EF;
    text-decoration: none;
}

a:hover, input[type="submit"]:hover
{
    border-color: #F92672;
    color: #F92672;
    cursor: pointer;
}

body
{
    background-color: #272822;
    color: #EEEEEE;
    margin: 0;
}
body, input, select, textarea
{
    font-family: Monospace;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    margin: 0;
}

html, #footer, #header
{
    background-color: #171714;
    color: #EEEEEE;
}

img
{
    width: 100%;
}

input, select, textarea
{
    background-color: #272822;
    border: 1px solid #66D9EF;
    color: #EEEEEE;
    height: 32px;
    margin: 0;
    padding: 6px;
}
input[type="checkbox"]
{
    height: 24px;
    margin: 4px;
    width: 24px;
}
input:focus, select:focus, textarea:focus
{
    border: 1px solid #F92672;
    outline: none;
}

label
{
    color: #FD971F;
    line-height: 32px;
}

q
{
    color: #FFE792;
}

time
{
    color: #FD971F;
}

#content
{
    margin: 64px 0 0 0;
    padding: 16px 0 0 0;
}
#content h1, #content h1 a
{
    color: #A6E22E;
    font-size: 32px;
    margin-bottom: 8px;
}
#content p
{
    line-height: 150%;
}

#footer
{
    margin-top: 24px;
    min-height: 64px;
}

#header
{
    height: 64px;
    padding: 5px 0px;
    position: fixed;
    top: 0;
    transform: translateY(0);
    width: 100%;
}
#header, body
{
    min-width: 200px;
}
#header a
{
    color: #A6E22E;
}
#header h1
{
    font-size: 40px;
    min-width: 135px;
}
#header .column
{
    align-items: center;
    display: flex;
}
#header .container
{
    display: flex;
    justify-content: space-between;
}

.admin
{
    border: 1px solid #A6E22E;
    padding: 16px;
    margin: 0 auto 16px auto;
}
.admin, .container
{
    max-width: 664px;
    width: 80%;
}
.admin legend
{
    color: #A6E22E;
    font-size: 24px;
}
.admin-action:not(:last-child)
{
    margin-bottom: 16px;
}

.content-index
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-index-item:not(:last-child)
{
    margin-bottom: 32px;
}

.container
{
    height: 100%;
    margin: 0 auto;
}

.edit-buttons
{
    display: flex;
    justify-content: space-between;
}
.edit-buttons-right
{
    display: flex;
    justify-content: flex-end;
    line-height: 32px;
}
.edit-buttons-right a
{
    margin-left: 16px;
}

.edit-split
{
    display: flex;
    justify-content: space-between;
}
.edit-split, .edit-stack
{
    margin-bottom: 10px;
}
.edit-split *:not([type="checkbox"])
{
    width: 50%;
}
.edit-split span
{
    text-align: center;
}

.edit-stack textarea
{
    height: 72px;
    margin-top: 5px;
    resize: none;
    width: 100%;
}
.edit-stack textarea.large
{
    height: 512px;
}

.cut
{
    margin: auto;
    width: 50%;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-item
{
    flex: 50%;
}

.hidden
{
    visibility: hidden;
}

.icon
{
    width: 32px;
}
.icon-primary-fill
{
    fill: #66D9EF;
}
.icon:hover .icon-primary-fill
{
    fill: #F92672;
}
.icon-primary-stroke
{
    stroke: #66D9EF;
}
.icon:hover .icon-primary-stroke
{
    stroke: #F92672;
}
.icon-secondary-fill
{
    fill: #171714;
}
.icon-secondary-stroke
{
    stroke: #171714;
}

.login
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.login a
{
    align-items: center;
    display: inline-flex;
}
.login img
{
    margin-right: 10px;
    width: 32px;
}

.menu
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li
{
    text-align: right;
}
.menu li a
{
    display: inline-block;
    margin-left: 16px;
}

.pager
{
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    width: 100%;
}
.pager li
{
    margin-left: 24px;
}

.validation-summary-errors
{
    color: #FFE792;
}
.validation-summary-errors ul
{
    list-style: none;
    padding: 0;
}