@model SearchResponse<Content>

<div class="container">
    <ul class="content-index">
        @foreach (var content in Model.Items)
        {
            <li class="content-index-item">
                <a href="/content/@content.Path">
                    <h1>
                        @content.Name
                    </h1>
                </a>
                <time>
                    @content.PublishedDateTime.ToString("yyyy-MM-dd")
                </time>

                @Html.Raw(Markdown.ToHtml(content.Summary))

                <a href="/content/@content.Path">Would you like to know more?</a>
            </li>
        }
    </ul>
</div>

<div class="container">
    <ul class="pager">
        @if (Model.PageIndex > 0)
        {
            <li>
                <a href="/">
                    &lt;&lt;
                </a>
            </li>
            <li>
                <a href="?page=@(Model.PageIndex - 1)">
                    &lt;
                </a>
            </li>
        }
        @if ((Model.PageIndex + 1) * Model.PageSize <
            Model.TotalCount)
        {
            <li>
                <a href="?page=@(Model.PageIndex + 1)">
                    &gt;
                </a>
            </li>
            <li>
                <a href="?page=@(Math.Ceiling((double)Model.TotalCount / Model.PageSize) - 1)">
                    &gt;&gt;
                </a>
            </li>
        }
    </ul>
</div>